/* Main things for everything */
:root {
    --main-color: #212121;
    --color-white: #ffffff;
    --primary-white-color: #F5F4FA;
    --accent-color: #2196F3;
    --muted-text-color: #757575;
    --accent-background-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--color-white);
}

.link {
    color: inherit;
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */

.logo {
    font-family: 'Raleway';
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.accent {
    color: var(--accent-color);
}

.nav-list > .nav-item,
.contacts > .contacts-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.current {
    color: var(--accent-color);
}

.contacts-link {
    color: var(--muted-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* Section Hero */

.section-hero {
    background-color: var(--accent-background-color);
    letter-spacing: 0.06em;
    text-align: center;
}

.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--color-white);
}

.hero-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    color: var(--color-white);
    background-color: var(--accent-color);
    cursor: pointer;
}

/* Section Advantage */

.advantage-item {
    font-size: 14px;
    letter-spacing: 0.03em;
}

.advantage-item h3 {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantage-item p {
    line-height: 1.71;
    color: var(--muted-text-color);
}

/* Section About Us */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Section Team */

.section-team{
    background-color: var(--primary-white-color);
}

.team-worker > h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.team-worker p {
    color: var(--muted-text-color);
}

/* Portfolio Section*/

.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: var(--primary-white-color);
}

.filter:hover,
.filter:focus,
.filter:active {
    color: var(--color-white);
    background-color: var(--accent-color);
}

.portfolio-list h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--muted-text-color);
}

/* Footer */

.footer-page {
    background-color: var(--accent-background-color);
    color: var(--color-white);
}

.footer-info {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.muted-color {
    color: rgba(255, 255, 255, 0.6);
}